
.card
	position: relative
	display: flex
	margin-bottom: 20px
	perspective: 700px
	cursor: pointer
	+r(768)
		width: 23%
		margin-bottom: 10px
	&.flipped
		.card__item
			transform: translate3d(0, 0, 0) rotateY(180deg)


	&.correct
		.card__item
			transition: .6s .5s
			+scale(0.005)
	&.dontClick
		pointer-events: none
	&__item
		position: relative
		display: block
		// width: 100%
		text-align: center
		// background-color: #486
		background-color: transparent
		transform-style: preserve-3d
		border-radius: 8px

		transform: translate3d(0, 0, 0) rotateY(0deg)
		backface-visibility: hidden //test hid
		+tr(.4s ) //test hid

.front,
.back
	display: flex
	justify-content: center
	align-items: center
	border-radius: 8px
	backface-visibility: hidden
	transform-style: preserve-3d


.front
	transform: translate3d(0, 0, 0) rotateY(0deg)
	img
		display: inline-block
		vertical-align: top
		max-width: 100%

.back
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: #C8C8C8
	overflow: hidden
	transform: translate3d(0, 0, 0) rotateY(180deg)
	img
		+vcenter
		max-width: 100%
		max-height: 100%